In [275]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

In [276]:
df = pd.read_csv("../soil.csv")
df.head(30)

,Location,Soil_Type,Fertility_Index,Land_Use_Type,Average_Rainfall(mm),Temperature(째C),Crop_Suitability,Season,Satellite_Observation_Date,Remarks
0,Sylhet,Loamy,62,Agricultural,72,28.6,Wheat,Monsoon,2024-09-24,Requires attention
1,Dhaka,Sandy,63,Unused,118,23.8,Maize,Autumn,2024-01-31,Moderate potential
2,Rangpur,Peaty,51,Agricultural,106,32.0,Maize,Autumn,2024-03-11,Requires attention
3,Khulna,Sandy,67,Barren,336,31.6,Wheat,Autumn,2024-09-29,Low potential
4,Rangpur,Peaty,63,Agricultural,237,20.1,Rice,Winter,2024-04-01,Moderate potential
5,Rajshahi,Clay,58,Barren,345,29.3,Vegetables,Monsoon,2024-01-12,High potential
6,Rajshahi,Silt,68,Barren,324,33.8,Tea,Winter,2024-09-06,Low potential
7,Chattogram,Loamy,49,Agricultural,71,27.0,Jute,Summer,2024-08-05,Moderate potential
8,Barishal,Silt,64,Agricultural,157,22.1,Vegetables,Monsoon,2024-12-21,High potential
9,Dhaka,Sandy,61,Residential,301,27.9,Rice,Autumn,2024-03-01,Requires attention
10,Rangpur,Loamy,76,Unused,355,21.9,Rice,Monsoon,2024-08-13,Low potential
11,Khulna,Clay,44,Barren,51,32.5,Jute,Winter,2024-02-20,Requires attention
12,Chattogram,Silt,43,Unused,95,33.5,Wheat,Autumn,2024-07-14,Requires attention
13,Mymensingh,Silt,93,Residential,211,29.3,Spices,Monsoon,2024-06-07,High potential
14,Rangpur,Clay,83,Agricultural,218,20.5,Vegetables,Summer,2024-04-02,High potential
15,Barishal,Sandy,79,Barren,280,22.5,Rice,Autumn,2024-06-05,Low potential
16,Rangpur,Loamy,44,Unused,128,30.4,Tea,Monsoon,2024-12-15,Low potential
17,Chattogram,Sandy,41,Unused,336,21.2,Maize,Summer,2024-11-06,Low potential
18,Khulna,Clay,91,Agricultural,73,29.4,Maize,Summer,2024-09-14,Low potential
19,Khulna,Silt,67,Residential,222,20.7,Maize,Winter,2024-03-30,Moderate potential
20,Rajshahi,Sandy,79,Barren,86,34.6,Maize,Summer,2024-12-26,High potential
21,Mymensingh,Loamy,62,Unused,231,31.8,Tea,Autumn,2024-03-14,High potential
22,Rangpur,Loamy,43,Barren,217,29.6,Spices,Winter,2024-10-23,Moderate potential
23,Rajshahi,Peaty,72,Agricultural,255,33.2,Vegetables,Autumn,2024-11-03,Requires attention
24,Sylhet,Peaty,41,Barren,61,23.7,Wheat,Winter,2024-12-06,Moderate potential
25,Rangpur,Peaty,90,Residential,188,24.0,Jute,Monsoon,2024-10-21,Low potential
26,Mymensingh,Loamy,93,Unused,79,28.5,Jute,Winter,2024-01-02,Low potential
27,Barishal,Loamy,49,Barren,308,29.3,Rice,Summer,2024-10-22,High potential
28,Chattogram,Clay,83,Barren,339,34.3,Jute,Summer,2024-12-18,Requires attention
29,Barishal,Loamy,73,Unused,375,28.0,Wheat,Autumn,2024-05-14,Low potential

In [277]:
df['Satellite_Observation_Date'] = pd.to_datetime(df['Satellite_Observation_Date'], errors='coerce')
df['Year'] = df['Satellite_Observation_Date'].dt.year
df['Month'] = df['Satellite_Observation_Date'].dt.month
df['Day'] = df['Satellite_Observation_Date'].dt.day

In [278]:
#Dropping unused columns
df = df.drop(['Remarks'], axis='columns')

In [280]:
categorical_columns = [ 'Land_Use_Type', 'Season', 'Crop_Suitability']
df['Soil_Type'] = df['Soil_Type'].replace(['Clay', 'Loamy', 'Peaty', 'Sandy', 'Silt'], [1, 2, 3, 4, 5])
df['Season'] = df['Season'].replace(['Summer', 'Autumn', 'Winter', 'Monsoon'], [1, 2, 3, 4])
df['Land_Use_Type'] = df['Land_Use_Type'].replace(['Barren', 'Residential', 'Unused', 'Agricultural'], [1, 2, 3, 4])
df['Crop_Suitability'] = df['Crop_Suitability'].replace({'Rice': 0, 'Tea': 1, 'Spices':2, 'Wheat':3, 'Jute':4, 'Vegetables':5, 'Maize':6})

In [281]:
df.head(40)

,Location,Soil_Type,Fertility_Index,Land_Use_Type,Average_Rainfall(mm),Temperature(째C),Crop_Suitability,Season,Satellite_Observation_Date,Year,Month,Day
0,Sylhet,2,62,4,72,28.6,3,4,2024-09-24,2024,9,24
1,Dhaka,4,63,3,118,23.8,6,2,2024-01-31,2024,1,31
2,Rangpur,3,51,4,106,32.0,6,2,2024-03-11,2024,3,11
3,Khulna,4,67,1,336,31.6,3,2,2024-09-29,2024,9,29
4,Rangpur,3,63,4,237,20.1,0,3,2024-04-01,2024,4,1
5,Rajshahi,1,58,1,345,29.3,5,4,2024-01-12,2024,1,12
6,Rajshahi,5,68,1,324,33.8,1,3,2024-09-06,2024,9,6
7,Chattogram,2,49,4,71,27.0,4,1,2024-08-05,2024,8,5
8,Barishal,5,64,4,157,22.1,5,4,2024-12-21,2024,12,21
9,Dhaka,4,61,2,301,27.9,0,2,2024-03-01,2024,3,1
10,Rangpur,2,76,3,355,21.9,0,4,2024-08-13,2024,8,13
11,Khulna,1,44,1,51,32.5,4,3,2024-02-20,2024,2,20
12,Chattogram,5,43,3,95,33.5,3,2,2024-07-14,2024,7,14
13,Mymensingh,5,93,2,211,29.3,2,4,2024-06-07,2024,6,7
14,Rangpur,1,83,4,218,20.5,5,1,2024-04-02,2024,4,2
15,Barishal,4,79,1,280,22.5,0,2,2024-06-05,2024,6,5
16,Rangpur,2,44,3,128,30.4,1,4,2024-12-15,2024,12,15
17,Chattogram,4,41,3,336,21.2,6,1,2024-11-06,2024,11,6
18,Khulna,1,91,4,73,29.4,6,1,2024-09-14,2024,9,14
19,Khulna,5,67,2,222,20.7,6,3,2024-03-30,2024,3,30
20,Rajshahi,4,79,1,86,34.6,6,1,2024-12-26,2024,12,26
21,Mymensingh,2,62,3,231,31.8,1,2,2024-03-14,2024,3,14
22,Rangpur,2,43,1,217,29.6,2,3,2024-10-23,2024,10,23
23,Rajshahi,3,72,4,255,33.2,5,2,2024-11-03,2024,11,3
24,Sylhet,3,41,1,61,23.7,3,3,2024-12-06,2024,12,6
25,Rangpur,3,90,2,188,24.0,4,4,2024-10-21,2024,10,21
26,Mymensingh,2,93,3,79,28.5,4,3,2024-01-02,2024,1,2
27,Barishal,2,49,1,308,29.3,0,1,2024-10-22,2024,10,22
28,Chattogram,1,83,1,339,34.3,4,1,2024-12-18,2024,12,18
29,Barishal,2,73,3,375,28.0,3,2,2024-05-14,2024,5,14
30,Dhaka,1,79,4,148,34.7,3,2,2024-05-15,2024,5,15
31,Dhaka,5,76,1,319,33.7,0,2,2024-07-16,2024,7,16
32,Rajshahi,1,72,3,172,32.4,1,1,2024-04-12,2024,4,12
33,Khulna,1,86,2,269,25.9,6,3,2024-11-26,2024,11,26
34,Mymensingh,3,49,3,331,24.5,3,3,2024-02-08,2024,2,8
35,Khulna,3,66,1,286,23.6,1,4,2024-07-24,2024,7,24
36,Mymensingh,4,91,2,389,31.7,4,3,2024-01-10,2024,1,10
37,Chattogram,2,96,2,318,31.9,6,2,2024-03-10,2024,3,10
38,Mymensingh,1,68,2,332,29.3,4,4,2024-05-16,2024,5,16
39,Rajshahi,2,95,4,121,33.2,5,1,2024-08-17,2024,8,17

In [282]:
df.describe()

,Soil_Type,Fertility_Index,Land_Use_Type,Average_Rainfall(mm),Temperature(째C),Crop_Suitability,Season,Satellite_Observation_Date,Year,Month,Day
count,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000,2000.0,2000.000000,2000.000000
mean,2.974500,70.10450,2.501000,223.136000,27.330250,3.019500,2.451500,2024-07-02 02:06:43.200000,2024.0,6.550000,15.231500
min,1.000000,40.00000,1.000000,50.000000,20.000000,0.000000,1.000000,2024-01-01 00:00:00,2024.0,1.000000,1.000000
25%,2.000000,54.00000,1.000000,137.000000,23.500000,1.000000,1.000000,2024-04-04 00:00:00,2024.0,4.000000,8.000000
50%,3.000000,70.00000,3.000000,222.500000,27.300000,3.000000,2.000000,2024-07-03 00:00:00,2024.0,7.000000,15.000000
75%,4.000000,86.00000,3.000000,308.000000,31.000000,5.000000,3.000000,2024-09-30 00:00:00,2024.0,9.000000,23.000000
max,5.000000,100.00000,4.000000,400.000000,35.000000,6.000000,4.000000,2024-12-31 00:00:00,2024.0,12.000000,31.000000
std,1.397436,17.97699,1.111583,100.548543,4.341251,2.025135,1.122621,NaN,0.0,3.412964,8.788488

In [283]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import tensorflow as tf
from sklearn.model_selection import cross_val_score

In [284]:
#Basic Random Forest Classifier

X = df[['Fertility_Index', 'Average_Rainfall(mm)', 'Temperature(째C)', 'Month', 'Soil_Type', 'Season']]
y = df['Crop_Suitability']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Initialize and train the model
model = RandomForestClassifier(random_state=42, max_depth=9, n_estimators=100, max_leaf_nodes=9, max_features=25)
model.fit(X_train, y_train)

# Make predictions
test_predictions = model.predict(X_test)
val_predictions = model.predict(X_val)

# Calculate accuracy
test_accuracy = accuracy_score(y_test, test_predictions)
val_accuracy = accuracy_score(y_val, val_predictions)
print(test_accuracy)
print(val_accuracy)

scores = cross_val_score(model, X_train, y_train, cv=10)
print("Cross-validation scores: {}".format(scores))
print("Average cross-validation score: {:.2f}".format(scores.mean()))
print("Standard deviation of cross-validation scores: {:.2f}".format(scores.std()))

0.1025
0.121875
Cross-validation scores: [0.1640625 0.15625   0.125     0.171875  0.1640625 0.140625  0.1875
 0.203125  0.0859375 0.171875 ]
Average cross-validation score: 0.16
Standard deviation of cross-validation scores: 0.03

In [285]:
#SVM(Support Vector Machines)

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

svm = SVC(gamma=0.1, C=0.0002)

svm.fit(X_train, y_train)
val_predictions=svm.predict(X_val)
test_predictions=svm.predict(X_test)

val_accuracy = accuracy_score(y_val, val_predictions)
test_accuracy = accuracy_score(y_test, test_predictions)

print(val_accuracy)
print(test_accuracy)

scores = cross_val_score(svm, X_train, y_train, cv=10)
print("Cross-validation scores: {}".format(scores))
print("Average cross-validation score: {:.2f}".format(scores.mean()))
print("Standard deviation of cross-validation scores: {:.2f}".format(scores.std()))

0.1125
0.16
Cross-validation scores: [0.1640625 0.1640625 0.1640625 0.15625   0.1640625 0.1640625 0.1640625
 0.1640625 0.1640625 0.1640625]
Average cross-validation score: 0.16
Standard deviation of cross-validation scores: 0.00

In [288]:
#
import gc
from tensorflow.keras.regularizers import l2

print(X_train.shape)
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape =(6,)),
  tf.keras.layers.Dense(128, activation='relu', kernel_regularizer=l2(0.01)),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(64, activation='relu'),
  tf.keras.layers.Dropout(0.3),
  tf.keras.layers.Dense(64, activation='relu'),
  tf.keras.layers.Dropout(0.3),
  tf.keras.layers.Dense(7)
])

model.compile(optimizer='adam', 
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])


class garbage_collect_callback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs=None):
    gc.collect()

history = model.fit(X_train, # Train examples
          y_train, # Train labels
          epochs=50, # number of epochs (passes through data during training)
          batch_size= 200, # number of points to consider in each optimizer iteration
          callbacks = [garbage_collect_callback()],
          validation_data=(X_val, y_val), #data to use for validation
          verbose=1) #will print information about optimization process

test_binary_pred = model.predict(X_test)
scores = model.evaluate(X_test, y_test, verbose = 0)
print('\nTesting model on mock_test set:')
print(f'Model Loss: {scores[0]:.3f}, Model Accuracy: {scores[1]:.3f}')

(1280, 6)
Epoch 1/50
7/7 [==============================] - 1s 66ms/step - loss: 26.0985 - accuracy: 0.1352 - val_loss: 7.8680 - val_accuracy: 0.1344
Epoch 2/50
7/7 [==============================] - 0s 31ms/step - loss: 15.3250 - accuracy: 0.1305 - val_loss: 5.4338 - val_accuracy: 0.1375
Epoch 3/50
7/7 [==============================] - 0s 50ms/step - loss: 10.5095 - accuracy: 0.1422 - val_loss: 3.3082 - val_accuracy: 0.1562
Epoch 4/50
7/7 [==============================] - 0s 33ms/step - loss: 7.6506 - accuracy: 0.1437 - val_loss: 2.4727 - val_accuracy: 0.1375
Epoch 5/50
7/7 [==============================] - 0s 34ms/step - loss: 5.6718 - accuracy: 0.1594 - val_loss: 2.1591 - val_accuracy: 0.1312
Epoch 6/50
7/7 [==============================] - 0s 49ms/step - loss: 4.3269 - accuracy: 0.1461 - val_loss: 2.0786 - val_accuracy: 0.1469
Epoch 7/50
7/7 [==============================] - 0s 30ms/step - loss: 4.0147 - accuracy: 0.1281 - val_loss: 2.0703 - val_accuracy: 0.1437
Epoch 8/50
7/7 [==============================] - 0s 30ms/step - loss: 3.4349 - accuracy: 0.1547 - val_loss: 2.0800 - val_accuracy: 0.1281
Epoch 9/50
7/7 [==============================] - 0s 30ms/step - loss: 3.1956 - accuracy: 0.1430 - val_loss: 2.0636 - val_accuracy: 0.1500
Epoch 10/50
7/7 [==============================] - 0s 28ms/step - loss: 2.8336 - accuracy: 0.1648 - val_loss: 2.0515 - val_accuracy: 0.1531
Epoch 11/50
7/7 [==============================] - 0s 32ms/step - loss: 2.7393 - accuracy: 0.1453 - val_loss: 2.0442 - val_accuracy: 0.1344
Epoch 12/50
7/7 [==============================] - 0s 30ms/step - loss: 2.5629 - accuracy: 0.1406 - val_loss: 2.0364 - val_accuracy: 0.1406
Epoch 13/50
7/7 [==============================] - 0s 32ms/step - loss: 2.4783 - accuracy: 0.1328 - val_loss: 2.0287 - val_accuracy: 0.1469
Epoch 14/50
7/7 [==============================] - 0s 32ms/step - loss: 2.3317 - accuracy: 0.1469 - val_loss: 2.0234 - val_accuracy: 0.1406
Epoch 15/50
7/7 [==============================] - 0s 33ms/step - loss: 2.2460 - accuracy: 0.1547 - val_loss: 2.0203 - val_accuracy: 0.1406
Epoch 16/50
7/7 [==============================] - 0s 43ms/step - loss: 2.1780 - accuracy: 0.1461 - val_loss: 2.0188 - val_accuracy: 0.1406
Epoch 17/50
7/7 [==============================] - 0s 31ms/step - loss: 2.1490 - accuracy: 0.1500 - val_loss: 2.0175 - val_accuracy: 0.1406
Epoch 18/50
7/7 [==============================] - 0s 30ms/step - loss: 2.1016 - accuracy: 0.1430 - val_loss: 2.0163 - val_accuracy: 0.1406
Epoch 19/50
7/7 [==============================] - 0s 31ms/step - loss: 2.0494 - accuracy: 0.1477 - val_loss: 2.0152 - val_accuracy: 0.1406
Epoch 20/50
7/7 [==============================] - 0s 34ms/step - loss: 2.0866 - accuracy: 0.1398 - val_loss: 2.0142 - val_accuracy: 0.1406
Epoch 21/50
7/7 [==============================] - 0s 40ms/step - loss: 2.0608 - accuracy: 0.1539 - val_loss: 2.0132 - val_accuracy: 0.1406
Epoch 22/50
7/7 [==============================] - 0s 39ms/step - loss: 2.0483 - accuracy: 0.1508 - val_loss: 2.0124 - val_accuracy: 0.1406
Epoch 23/50
7/7 [==============================] - 0s 36ms/step - loss: 2.0403 - accuracy: 0.1437 - val_loss: 2.0116 - val_accuracy: 0.1406
Epoch 24/50
7/7 [==============================] - 0s 33ms/step - loss: 2.0584 - accuracy: 0.1578 - val_loss: 2.0109 - val_accuracy: 0.1406
Epoch 25/50
7/7 [==============================] - 0s 34ms/step - loss: 2.0496 - accuracy: 0.1484 - val_loss: 2.0101 - val_accuracy: 0.1406
Epoch 26/50
7/7 [==============================] - 0s 37ms/step - loss: 2.0286 - accuracy: 0.1469 - val_loss: 2.0095 - val_accuracy: 0.1406
Epoch 27/50
7/7 [==============================] - 0s 31ms/step - loss: 2.0277 - accuracy: 0.1477 - val_loss: 2.0089 - val_accuracy: 0.1406
Epoch 28/50
7/7 [==============================] - 0s 45ms/step - loss: 2.0309 - accuracy: 0.1375 - val_loss: 2.0083 - val_accuracy: 0.1406
Epoch 29/50
7/7 [==============================] - 0s 30ms/step - loss: 2.0246 - accuracy: 0.1492 - val_loss: 2.0077 - val_accuracy: 0.1406
Epoch 30/50
7/7 [==============================] - 0s 31ms/step - loss: 2.0067 - accuracy: 0.1484 - val_loss: 2.0072 - val_accuracy: 0.1406
Epoch 31/50
7/7 [==============================] - 0s 33ms/step - loss: 2.0247 - accuracy: 0.1344 - val_loss: 2.0067 - val_accuracy: 0.1406
Epoch 32/50
7/7 [==============================] - 0s 30ms/step - loss: 2.0064 - accuracy: 0.1539 - val_loss: 2.0062 - val_accuracy: 0.1406
Epoch 33/50
7/7 [==============================] - 0s 30ms/step - loss: 2.0110 - accuracy: 0.1477 - val_loss: 2.0058 - val_accuracy: 0.1406
Epoch 34/50
7/7 [==============================] - 0s 32ms/step - loss: 2.0093 - accuracy: 0.1461 - val_loss: 2.0054 - val_accuracy: 0.1406
Epoch 35/50
7/7 [==============================] - 0s 32ms/step - loss: 2.0153 - accuracy: 0.1578 - val_loss: 2.0049 - val_accuracy: 0.1406
Epoch 36/50
7/7 [==============================] - 0s 31ms/step - loss: 2.0064 - accuracy: 0.1484 - val_loss: 2.0044 - val_accuracy: 0.1406
Epoch 37/50
7/7 [==============================] - 0s 31ms/step - loss: 2.0058 - accuracy: 0.1570 - val_loss: 2.0040 - val_accuracy: 0.1406
Epoch 38/50
7/7 [==============================] - 0s 31ms/step - loss: 2.0037 - accuracy: 0.1453 - val_loss: 2.0036 - val_accuracy: 0.1406
Epoch 39/50
7/7 [==============================] - 0s 29ms/step - loss: 2.0050 - accuracy: 0.1555 - val_loss: 2.0032 - val_accuracy: 0.1406
Epoch 40/50
7/7 [==============================] - 0s 29ms/step - loss: 2.0142 - accuracy: 0.1594 - val_loss: 2.0028 - val_accuracy: 0.1406
Epoch 41/50
7/7 [==============================] - 0s 32ms/step - loss: 2.0140 - accuracy: 0.1359 - val_loss: 2.0024 - val_accuracy: 0.1406
Epoch 42/50
7/7 [==============================] - 0s 32ms/step - loss: 2.0070 - accuracy: 0.1586 - val_loss: 2.0021 - val_accuracy: 0.1406
Epoch 43/50
7/7 [==============================] - 0s 29ms/step - loss: 2.0060 - accuracy: 0.1516 - val_loss: 2.0018 - val_accuracy: 0.1406
Epoch 44/50
7/7 [==============================] - 0s 29ms/step - loss: 2.0021 - accuracy: 0.1523 - val_loss: 2.0014 - val_accuracy: 0.1406
Epoch 45/50
7/7 [==============================] - 0s 29ms/step - loss: 1.9997 - accuracy: 0.1570 - val_loss: 2.0011 - val_accuracy: 0.1406
Epoch 46/50
7/7 [==============================] - 0s 29ms/step - loss: 1.9977 - accuracy: 0.1562 - val_loss: 2.0008 - val_accuracy: 0.1406
Epoch 47/50
7/7 [==============================] - 0s 28ms/step - loss: 2.0027 - accuracy: 0.1562 - val_loss: 2.0005 - val_accuracy: 0.1406
Epoch 48/50
7/7 [==============================] - 0s 28ms/step - loss: 1.9988 - accuracy: 0.1547 - val_loss: 2.0002 - val_accuracy: 0.1406
Epoch 49/50
7/7 [==============================] - 0s 29ms/step - loss: 1.9945 - accuracy: 0.1570 - val_loss: 1.9999 - val_accuracy: 0.1406
Epoch 50/50
7/7 [==============================] - 0s 31ms/step - loss: 1.9979 - accuracy: 0.1562 - val_loss: 1.9996 - val_accuracy: 0.1406
13/13 [==============================] - 0s 507us/step

Testing model on mock_test set:
Model Loss: 1.999, Model Accuracy: 0.112